{% extends 'base.html' %}

{% block content %}
    <h1>Polls</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <hr/>
    {%  for poll in polls %}
<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">Poll №{{poll.id }}</h5>
    <p class="card-text font-weight-bold">{{ poll.question }}</p>
      <p><b>Date of creation: </b>{{ poll.created| date:'d.m.Y H:i:s'}}</p>
    <a href="{% url 'poll_view' poll.pk %}" class="btn btn-outline-dark ml-3">More</a>
    <a href="{% url 'poll_edit' poll.pk %}" class="btn btn-outline-dark ml-3">Edit</a>
    <a href="{% url 'poll_delete' poll.pk %}" class="btn btn-outline-dark ml-3">Delete</a>
    <a href="{% url 'answer' poll.pk  %}" class="btn btn-outline-dark ml-3" >Answer</a>

  </div>
</div>
{% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}