{% extends 'base.html' %}

{% block content %}

<div class="card m-5">
  <h5 class="card-header pt-5 font-weight-bold">Poll № {{poll.id }}</h5>
  <div class="card-body">
      <p class="pre">{{ poll.question }}</p>
      <p>
        <a href="{% url 'poll_edit' poll.pk %}" class="btn btn-outline-dark">Edit</a>
        <a href="{% url 'poll_delete' poll.pk %}" class="btn btn-outline-dark ml-5">Delete</a>
      </p>
  </div>
</div>
    <hr>
    <h3><b>Choices for this poll:</b></h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="choices-list">
        {% for choice in choices %}
            <div class="choice">
                <div class="pre">{{ choice.text }}</div>
                <p class="comment-links">
                    <a href="{% url 'choice_edit' choice.pk %}">Edit</a>
                    <a href="{% url 'choice_delete' choice.pk %}">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No choices yet.</p>
        {% endfor %}
    </div>
    <a href="{% url 'poll_choice_add' poll.pk %}" class="btn btn-outline-dark ml-4">Add сhoice</a>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}